body {
    {% if dod is sameas true %}
    font-family: "Lucida Console", Monaco, monospace;
    {% else %}
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    {% endif %}
}
{% if dod is sameas true %}
#main-content
{
   text-align:center;
}
table.unclassBanner
 {
   padding: 0;
   margin: 0;
   max-width: 100%;
   background-color: #009900;
 }
{% endif %}
 
 table.tableA
 {
    border:none;
    width:75%;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
 }
 table.tableB
 {
    border:none;
    width:90%;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
 }
 td.tdB
 {
    text-align:left;
    padding-left:5px;
    background-color: #FFFFFF;
 }
 td.tdAleft
 {
    text-align:left;
    padding-left:27px;
    background-color: #FFFFFF;
 }
 td.tdAright
 {
    text-align:right;
    padding-right:27px;
    background-color: #FFFFFF;
 }
 td.tdMoonFractions
 {
    text-align:right;
    
    background-color: #FFFFFF;
 }
 tr.trA
 {
    background-color: #FFFFFF;
 }
 table
 {
    border:1px solid #D8D8D8;
    width:75%;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
 }
 th,td:not(.unclassBanner)
 {
    padding:7px;
 }
 tr:nth-child(odd):not(.unclassBanner)
 {
    background-color: #EFEEEE;
 }
 tr:nth-child(even):not(.unclassBanner)
 {
    background-color: #FFFFFF;
 }
 h2
 {
    border-bottom:1px solid #D8D8D8;
    padding-bottom:5px
 }
 img
 {
    width:90%;
    max-width:512px;
 }
 .red
 {
    color:red;
 }
 .small {
    font-variant: small-caps;
 }